.main-header{
    background: black;
    padding: 20px 0;

    @media all and (min-width: 996px){
        padding: 30px 0;
    }

    .navigation-mobile{
        text-align: center;

        @media screen and (max-width:767px) {
            display: block;
        }

        @media screen and (min-width:767px) {
            display: none;
        }

        .site-logo-href{
            text-decoration: none;
        }
        
    }

    .navigation-desktop{

        display: flex;
        justify-content: space-between;

        @media screen and (min-width:768px) {
            display: flex;
        }

        @media screen and (max-width:768px) {
            display: none;
        }

        .col-right{
            display: flex;
            gap: 50px;
            color: white;
            font-weight: bold;

            .item {
                a{
                    color: white;
                }
                .text-red{
                    color: red;
                }
            }

            
        }
    }

}

.header-mobile{
    background: black;
    color: white;
    padding: 20px 0 30px 0;
    position: fixed;
    width: 100%;
    bottom: 0;

    .container{
        max-width: 768px;
    }

    .nav-mobile{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        gap: 55px;

        .col{
            text-align: center;
            a{
                color: white;
                text-decoration: none;
            }
            .title{
                font-size: 9pt;
            }
        }
    }

}

@media all and (min-width: 996px){
    .header-mobile{
        display: none;
    }
}